#compile{
	background: #F6F6F6;
	//position: relative;
	.right-arrow{
		@include right-arrow($w:8px, $h:8px,$right:10px,$top:18px);
	}

	//主体
	.subject{
		width:100%;
		height: 480px;
		overflow: auto;
		overflow-x: hidden;
	}
	//基本信息
	.Basic-Info{
		width: 100%;
		height: 140px;
		background: #fff;
		margin-top: 45px;
		dl{
			width: 100%;
			height: 100px;
			display: block;
			dt{
				width: 30%;
				height: 100%;
				float: left;
				img{
					display: block;
					width: 100%;
					padding: 10%;
				}
			}
			dd{
				width: 70%;
				height: 100%;
				float: left;
				text-indent: 10px;
				font-size: 1rem;
				.rome-name{
					width: 100%;
					margin-top: 12px;
					font-weight: bold;
					color: #000;
				}
				.rome-price{
					width: 100%;
					height: 30px;					
					line-height: 30px;
					color: #ED9235;
				}
				.rome-assure{
					width: 40px;
					height: 24px;
					line-height: 24px;
					margin-left: 10px;
					text-indent:0;
					text-align:center;
					background: #ED9235;
					font-size: .8rem;
					color: #fff;
					border-radius: 2px;

				}
			}
		} 
		//时间
		.amend-date{
			width: 100%;
			height: 40px;
			border-top: 1px solid #d9d9d9;
			span{
				width: 49%;
				height: 100%;
				display: inline-block; 
				color: #666;
				font-size: 1rem;
				text-align:	center;
				line-height: 40px;
				small{
					//display: inline-block; 
					//color: #666;
					//font-size: 1rem; 
					padding: 0 8px;
					//line-height: 40px;
				}
			}
		}
	}
	//修改部分
	.alter-part{
		width: 100%;
		h2{
			text-indent: 20px;
			width: 100%;
			height: 42px;
			color: #999;
			font-size: 1rem;
			line-height: 42px;

		}
		ul{
			width: 100%;
			background: #fff; 
			li{
				width: 100%;
				height: 45px;
				line-height: 45px;
				font-size: 0.8rem;

				span{
					width: 30%;
					height: 100%;
					display: inline-block;
					color: #333;	
					text-align: center;
				}
				&:first-child{
					border-bottom: 1px solid #EDEEF1;
				}
				small{
					display: inline-block;
					width: 60%;
					height: 100%;
					font-size: .8rem;
					text-align:right;
				}
				input{
					width: 70%;
					height: 100%;
					text-indent: 20px;
					color: #666;
				}
			}

		}
		p{
			width: 90%;
			font-size: .8rem;
			color: #666;
			line-height: 22px;
			margin: 15px 5%;
			span{
				color: red;
				font-size: 1rem;
				line-height: 30px;
			}
		}
	}

	//选项卡
	.TabControl{
		width: 100%;
		height: 200px;
		background: #fff;
		position: absolute;
		left: 0;
		bottom: 0;
		overflow: auto;
		p{
			width: 100%;
			height: 40px;
			background: pink; 
			
			span{
				display: inline-block;
				width: 100%;
				height: 40px;
				text-align: center;
				font-size: 1rem;
				line-height: 40px;
			}
			small{
				position:absolute;
				right: 0;
				display: inline-block;
				width: 60px;
				height: 100%;
				text-align: center;
				font-size: .8rem;
				line-height: 40px;
			}
			
		}
		ul{
			width: 100%;
			li{
				width: 100%;
				height: 40px;
				line-height: 40px;
				text-indent: 20px;
				border-bottom: 1px solid #ccc; 
			}
		}
		//transition: translate3d(0,100%,0); 
	}
	//交易
	.dispose{
		/*position: absolute; 
		bottom: 0;
		left: 0;*/
		width: 100%;
		height: 55px;
		background: #16498f;
		span{
			width: 60%;
			height: 100%;
			line-height: 55px;
			background: #16498f;
			float: left;
			display: inline-block;
			color: #fff;
			font-size: 1rem;
			text-indent: 20px;
		}
		input{
			width: 40%;
			height: 100%;
			background: #24AEF2;
			color: #fff;
			font-size: 1rem;
		}
	}
	
}