#detail{
	background: #f5f5f5;
	overflow: auto;
	overflow-x: hidden;
	position: relative;
	//overflow: auto;
	//overflow: scroll;
	header{
		font-size:1.2rem;
	}

	.pic{
		width: 100%;
		height: 140px;
		background:url("../img/fullimage7.jpg") no-repeat center center;
		background-size: cover;
		//background-attachment: ;
		position: relative;
		margin-top: 44px;
		span{
			position: absolute;
			right: 20px;
			bottom: 20px;
			background: #000;
			color: #fff;
			padding: 5px 10px;
			font-size:	0.8rem;
		}
	}
	.mask-layer{
		display: none;
	}
	.hotel-intros{
		//margin-top: 10px;
		background: #fff;
		width: 100%;
		height: 235px;
		.intros-title{
			width: 90%;
			height: 30px;
			background: #fff;
			border: 1px solid #24AEF2;
			border-radius: 5px;
			font-size: 1rem;
			color: #24AEF2;
			line-height: 30px;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
			span{
				display: inline-block;
				width: 50%;
				text-align: center;
				&.active{
					background: #24AEF2;
					border-radius: 5px;
					color: #fff;
				}
			}
		}
		.main{
			width: 100%;
			height: 210px;
			overflow: hidden;
		}
		.basic{
			width: 100%;
			height: 100%;
			float: left;
			ul{
				width: 100%;
				height: 100%;
				li{
					height: 49px;
					line-height: 50px;
					font-size: .8rem;
					border-bottom: 1px solid #ddd;
					color: #666;
					span{
						display: inline-block;
						width: 18px;
						height: auto;
						margin: 0 10px;
						img{
							display: block;
						}
					}
					&:first-child{
						color: #000;
						font-size: 1.2rem;
						text-indent: 20px;
						font-weight: bold;
					}
				}
			}

		}
		.introduce{
			width: 100%;
			height: 100%;
			//float: left;
		}
	}
	.right-arrow{
		@include right-arrow($w:8px, $h:8px,$right:10px,$top:10px);
	}
	.choose-date{
		width: 100%;
		height: 30px;
		line-height: 30px;
		background: #fff;
		margin-top: 1rem;
		border-bottom: 1px solid #aaa; 
		@include flex;
		width: 100%;
		span{
			text-align: center;
			display: inline-block;
			&:nth-of-type(1){
				width: 38%;
			}
			&:nth-of-type(2){
				width: 38%;
			}
			&:nth-of-type(3){
				width: 24%;
				color: #24AEF2;
			}
		}
	}
	.rome-intros{
		width: 100%;
		height: 270px;
		background: #fff;
		ul{
			width: 100%;
			height: 100%;
			li{
				width: 100%;
				height: 79px;
				border-bottom: 1px solid #ddd; 
				a{
					width: 100%;
					height:50px;
					margin-top: 15px;
					margin-bottom: 15px;
					//background: pink;
					display: inline-block;
					position: relative;
					.name{
						display: inline-block;
						position: absolute;
						left: 15px;
						top: 0;
						font-size: 1rem;
						line-height: 1.5rem;
						color: #000;
						font-weight: bold;
					}
					.surplus{
						display: inline-block;
						position: absolute;
						left: 0;
						top: 1.5rem;
						font-size: .7rem;
						color: #999;
					}
					.tariff{
						display: inline-block;
						position: absolute;
						right: 100px;
						top: 0;
						font-size: 1rem;
						line-height: 50px;
						color: #F7912F;
					}
					.book{
						display: inline-block;
						position: absolute;
						right: 15px;
						top: 0;
						width: 55px;
						height: 24px;
						border-radius: 2px; 
						margin-top: 15px;
						line-height: 24px;
						text-align: center;
						font-size: 1rem;
						color: #009999;
						border: 1px solid #099;
					}
					.finish{
						display: inline-block;
						position: absolute;
						right: 15px;
						top: 0;
						width: 55px;
						height: 24px;
						border-radius: 2px; 
						margin-top: 15px;
						line-height: 24px;
						text-align: center;
						font-size: 1rem;
						color: #999;
						border: 1px solid #999;
						background: #ddd;
					}
				}
			}
			.intros-more{
				text-align: center;
				line-height: 35px;
			}
		}
	}


	/*rome-briefness*/
	.rome-briefness{
		width: 100%;
		height: 350px;
		background: #fff; 
		position: absolute;
		left: 0;
		bottom: 0;
		transform: translate3d(100%,0,0);
		dl{
			width: 100%;
			height: 100px;
			display: block;
			dt{
				width: 30%;
				height: 100%;
				float: left;
				img{
					display: block;
					width: 100%;
					padding: 10%;
				}
			}
			dd{
				width: 70%;
				height: 100%;
				float: left;
				text-indent: 10px;
				font-size: 1rem;
				.rome-name{
					width: 100%;
					margin-top: 12px;
					font-weight: bold;
					color: #000;
					span{
						color: #999;
						float: right;
						margin-right: 10px;
					}
				}
				.rome-price{
					width: 100%;
					height: 30px;					
					line-height: 30px;
					color: #ED9235;
				}
				.rome-assure{
					width: 40px;
					height: 24px;
					line-height: 24px;
					margin-left: 10px;
					text-indent:0;
					text-align:center;
					background: #ED9235;
					font-size: .8rem;
					color: #fff;
					border-radius: 2px;

				}
			}
		}
		ol{
			width: 100%;
			height: 200px;
			li{
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-size: .9rem;
				color: #333;
				text-align: right;
				padding-right: 12px;
				border-top: 1px solid #ccc; 
				span{
					width: 20%;
					height: 100%;
					display: inline-block;
					float:left;
					color: #999;
					small{
						display: inline-block;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background: #bbb;
						margin: 0 10px;
					}
				}
			}
		}
		input{
			width: 100%;
			height: 50px;
			background: #24AEF2;
			color: #fff;
			font-size: 1.2rem;
		}
	}


	/*hotel-circum*/
	.hotel-circum,.hotel-sale-price{
		margin-top: 1.2rem; 
		width: 100%;
		background: #fff;
		overflow: auto;
		$orange: orange;
		h1{
			width: 100%;
			height: 2.4rem;
			font-size: 1.2rem;
			line-height: 2.4rem;
			text-indent: 15px;
			color: #000;
			font-weight: bold;
		}
		dl{
			padding: 12px 10px;
			@entend %bb; 
			@include flex;
			border-bottom: 1px solid #eee;
		}
		dt,dd{
			float: left;
		}
		dt{
			width: 70px;
			height:70px;
			margin: 7px;
		}
		dd{
			line-height: 1.2rem;
			font-size: 0.75rem;
			@include flexTo(1);
		}

		.hotel-name{
			font-size: 1rem;
			font-weight: 600;
		}

		//hotel-range
		.hotel-range{
			color: $orange;
			.promotion{
				border-radius: 2px;
				font-size: .5rem;
				padding: 3px;
				margin-left: 2px;
				margin-right: 2px;
				//display: inline-block;
				//transform: scale(.8);
			}
			.orange{
				background: orange;
				color: #fff;
			}
			.blue{
				background: #24AEF2;
				color: #fff;
			}
			.red{
				background: #ee5d51;
				color: #fff;
			}
		}

		//hotel-star hotel-location
		.hotel-star,.hotel-location{
			width: 100%;
			display: inline-block;
			color: #999;
			font-size: 0.7rem;
		}

		//hotel-price
		.hotel-price{
			font-size: 1rem; 
			//font-size: 1rem/1 'sans-serif'; 
			sub{
				vertical-align: middle;
				font-size: .6rem;
				color: #999;
			}
		}

		.circum-more{
			text-align: center;
			line-height: 30px;
		}
	
	}
}