#list{
	//background:pink;
	font-size: .8rem;
	header{
		font-size:1.2rem;
	}

	.right-arrow{
		@include right-arrow($w:8px, $h:8px,$right:10px,$top:10px);
	}

	/*choose-date*/
	.choose-date{
		position: absolute;
		top: 45px;
		height: 30px;
		line-height: 30px;
		@include flex;
		width: 100%;
		span{
			text-align: center;
			&:nth-of-type(1){
				@include flexTo(38);
			}
			&:nth-of-type(2){
				@include flexTo(38);
			}
			&:nth-of-type(3){
				@include flexTo(24);
			}
		}
	}

	/*hotel-lists*/
	.hotel-lists{
		width: 100%;
		position: absolute;
		top: 75px;
		bottom: 45px;
		background: #fff;
		overflow: auto;
		$orange: orange;
		dl{
			padding: 12px 10px;
			@entend %bb;
			//background: pink;  
			@include flex;
		}
		dt,dd{
			float: left;
		}
		dt{
			width: 70px;
			height:70px;
			margin: 7px;
		}
		dd{
			line-height: 1.2rem;
			font-size: 0.75rem;
			@include flexTo(1);
		}

		.hotel-name{
			font-size: 1rem;
			font-weight: 600;
		}

		//hotel-range
		.hotel-range{
			color: $orange;
			.promotion{
				border-radius: 2px;
				font-size: .5rem;
				padding: 3px;
				margin-left: 2px;
				margin-right: 2px;
				//display: inline-block;
				//transform: scale(.8);
			}
			.orange{
				background: orange;
				color: #fff;
			}
			.blue{
				background: #24AEF2;
				color: #fff;
			}
			.red{
				background: #ee5d51;
				color: #fff;
			}
		}

		//hotel-star hotel-location
		.hotel-star,.hotel-location{
			width: 100%;
			display: inline-block;
			color: #999;
			font-size: 0.7rem;
		}

		//hotel-price
		.hotel-price{
			font-size: 1rem; 
			//font-size: 1rem/1 'sans-serif'; 
			sub{
				vertical-align: middle;
				font-size: .6rem;
				color: #999;
			}
		}
	
	}

	/*fooetr*/
	.footer{
		width: 100%;
		position: absolute;
		bottom: 0;
		height: 45px;
		z-index: 2;
		background: #fff;
		border-top: 1px solid $baseColor;
		//footer-span
		span{
			float: left;
			text-align: center;
			text-indent: -12px;
			line-height: 44px;
			width: 25%;
			font-size:.8rem;
			border-right: 1px solid $lightColor;
			&:last-child{
				border: none;
			}
			&.high{
				color: $baseColor; 
				//@extend %bt;
				border-top: 1px solid $baseColor;
				&:after{
					border-right-color: $baseColor;
					border-bottom-color: $baseColor;
				}
			}
			@include up-arrow();
		}
		
	}

	


	/*screen*/
	.screen{
		position: absolute;
		bottom: 45px;
		height: 200px;
		width: 100%;
		background: #fff;
		display: none;
		z-index:99999;
		.checkbox{
			width: 45px;
			height: 45px;
			//display:block;
			@include checkbox;
		}
		.checked{
			@include checked;
		}
		.screen-wrapper{
			width: 400%;
			height: 100%;
		}
		.screen-child{
			float: left;
			width: 25%;
			height: 100%;
			overflow: auto;
			p{
				text-indent:15px;
				line-height: 45px;
				@extend %bb;
			}
			/*&:nth-child(1){
				background: red;
			}
			&:nth-child(2){
				background: green;
			}
			&:nth-child(3){
				background: pink;
			}
			&:nth-child(4){
				background: yellow;
			}*/
		}
	}
}














































































	/*fooetr--1*/
	/*.footer{
		width: 100%;
		position: absolute;
		bottom: 0;
		height: 45px;
		background: #fff;
		border-top: 1px solid $baseColor;
		
		a{
			float: left;
			text-align: center;
			text-indent: -12px;
			line-height: 44px;
			width: 25%;
			font-size:.8rem;
			border-right: 1px solid $lightColor;
			&:last-child{
				border: none;
			}
			&.high{
				color: $baseColor; 
				//@extend %bt;
				border-top: 1px solid $baseColor;
				&:after{
					border-right-color: $baseColor;
					border-bottom-color: $baseColor;
				}
			}
			@include up-arrow();
		}
	}*/

/*screen--1*/
	/*.screen{
		//display: none;
		position: absolute;
		bottom: 45px;
		left: 0;
		width: 100%;
		height: 200px;
		overflow: auto;
		background:#fff;
		z-index:99999;
		.screen-wrapper{
			width:400%;
			height: 100%;
			background: #fff;
			//z-index:99999;
		}
		.screen-child{
			float:left;
			width: 25%;
			height: 100%;
			ul{
				width:100%;
				height: 100%;
				li{
					width: 100%;
					border-bottom: 1px solid #ccc;
					height:40px;
					line-height:40px;
					position: relative;
					.text{
						//text-indent:2rem;
						color: #333;
						font-size: 1rem;
						position: absolute;
						left: 10px;
						top: 0;
					}
					.cbox{
						width:20px;
						height: 20px;
						display: inline-block;
						border: 2px solid #ccc;
						//background:red;
						position: absolute;
						right: 10px;
						top: 10px;
						input{

						}
					}
				}
			}
			&:first-child{
				//background:pink;
			}
			&:nth-child(2){
				//background:red;
			}
			&:nth-child(3){
				//background:green;
			}
			&:nth-child(4){
				//background:blue;
			}
		}
	}*/